h1{
    color: green;
}
h2{
    color: yellow;
}
#abc {
    color: #ff3399;
    background-color: pink;
    font-size: 30px;
}
#doantho{
    background-color: wheat;
}
#doan1{
    color: darkblue;
}
#doan2{
    color: red;
}
#doan3{
    color: green;
}