legend{
    text-align: center;
    color: orange;
}
table{
    border-collapse: collapse;
}
table, td{
    border: 2px solid orange ;
}
#result {
    text-align: center;
    color: blue;
}
#Login{
    align-items: center;
}
div{
    position:absolute;
    left:550px ;
    top:50px;
}