h1{
    background-color: #039;
    color: #fff;
    text-align: center;
    line-height: 38px;
    padding-top: 10px ;
    padding-bottom: 5px;
    margin: 0;
}
.tieude {
    width: 100%;
    height: 70px;
}
.thucdon {
    height: 100vh;
    width: 20%;
    background-color: rgb(223, 240, 250);
}
ul {
    list-style-type: square;
    padding-left: 20px;
}
.main-content {
    height: 100vh;
    width: 75%;
}
#link {
    color: blue;
}